
/*4. Develop a page and set the height:(in pixels and %) and width:(in pixels and %) on 
elements.*/

/* <html>
<head>
    <style> */
 set1{
  max-width: 500000px;
  height: 500000px;
  background-color: rgb(226, 230, 176);
}
/* </style>


<title>
</title>
</head>
<body>
<div>i am cool</div>

</body>
</html> */